* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto', 'serif';
}

/* se retira -30 en dimensiones */

header section {
    background-color: #D1891C;
    height: 31px;
    padding: 4px 37px;
}

header section p {
    font-size: 18px;
    color: #333333;
}

nav {
    height: 102px;
    background-color: #00669F;
    padding: 8px 37px;
    display: flex;
    align-items: center;
}

nav p {
    font-size: 42px;
    color: #FFFFFF;
}

.cards {
    align-items: center;
    display: flex;
    gap: 4.5rem;
    justify-content: center;
    margin-block: 5rem;
    flex-wrap: wrap;
    position: relative;
}

.heroeCard {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: relative;
    width: 403px;
}

.firstFrame,
.secondFrame,
.thirdFrame,
.fourFrame {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: block;
    height: 234px;
}

.firstFrame {
    background-image: url('../img/frameBatman.png');
    background-size: cover;
}

.secondFrame {
    background-image: url('../img/frameMujermaravilla.png');
    background-size: cover;
}

.thirdFrame {
    background-image: url('../img/frameSuperman.png');
    background-size: cover;
}

.fourFrame {
    background-image: url('../img/frameHarley.png');
    background-size: cover;
}

.heart {
    margin: 13px 0px 0px 13px;
}

.heroePicture img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 175px;
    left: 141px;
}

.info {
    background-color: #F3F3F3;
    height: 376px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 75px 18px 20px;
    width: 403px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h2 {
    color: #000000;
    font-family: 'Roboto', 'serif';
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.info p {
    color: #333333;
    height: 130px;
    font-family: 'Roboto', 'serif';
    font-weight: 400;
    margin-block: 17px;
    line-height: 18px;
}

button {
    background-color: #00669F;
    border: none;
    color: #F3F3F3;
    height: 48px;
    margin-inline: auto;
    width: 128px;
    margin: 13px 68px;
}

.circle {
    background-color: #00669F;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    right: 3.5rem;
    font-size: 1.7rem;
}

footer {
    background-color: #00669F;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 4px 37px;
}

footer div {
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    color: #FFF9F9;
    font-size: 18px;
}

footer img {
    width: 100px;
}

@media screen and (max-width: 880px) {

    nav p {
        font-size: 32px;
        color: #FFFFFF;
    }

    .heroeCard {
        width: 303px;
    }

    .heroePicture img {
        top: 165px;
        left: 95px;
    }

    .info {
        width: 303px;
    }

    .info h2 {
        font-size: 20px;
    }

    .info p {
        font-size: 14px;
        margin-block: 14px;
    }

    button {
        height: 40px;
        margin: auto 0 0;
    }

    .circle {
        top: 39rem;
        right: 1.5rem;
    }

    footer {
        padding: 4px 20px;
    }

    footer p {
        font-size: 14px;
    }

    footer img {
        width: 70px;
    }

}